@font-face {
  font-family: 'bergen_textbold';
  src: url('./bergentext-bold-webfont.woff2') format('woff2'), url('./bergentext-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bergen_textregular';
  src: url('./bergentext-regular-webfont.woff2') format('woff2'), url('./bergentext-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bergen_textsemi_bold';
  src: url('./bergentext-semibold-webfont.woff2') format('woff2'), url('./bergentext-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
