$primary050: #effff5;
$primary100: #cbffde;
$primary200: #a8ffc8;
$primary300: #85ffb1;
$primary400: #61ff9b;
$primary500: #4ade80;
$primary600: #36bc67;
$primary700: #259a4f;
$primary800: #17783a;
$primary900: #0c5627;

$grey050: #fcfdff;
$grey100: #f6f9ff;
$grey200: #eff4ff;
$grey300: #e8efff;
$grey400: #cdd7ed;
$grey500: #aab6d0;
$grey600: #8997b3;
$grey700: #6c7996;
$grey800: #515e79;
$grey900: #39445c;

$red050: #ffeded;
$red100: #ffc4c4;
$red200: #ff9a9a;
$red300: #fe7171;
$red400: #ef4444;
$red500: #cd3030;
$red600: #ab2020;
$red700: #891313;
$red800: #670909;
$red900: #450303;

$midnight-blue: #0e111b;

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
