.welcome-section {
  @include colCenter;
  text-align: center;

  img {
    max-width: 325px;

    &:nth-child(2) {
      max-width: 12rem;
    }
  }

  h1 {
    font-weight: 400;
    font-size: 1.5rem;
  }
}
