.btn,
.btn a {
  border: none;
  height: 3rem;
  width: 100%;
  max-width: 325px;
  color: #39445c;
  background-color: #61ff9b;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .btn,
  .btn a {
    height: 4rem;
  }
}

.btn-circle {
  width: 3rem;
  height: 3rem;
  background-color: #61ff9b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6rem;
}
.btn-circle img {
  max-width: 2rem;
}

.tabs {
  max-width: 4rem;
  width: 4rem;
  height: 5rem;
  padding: 1.5rem 0.5rem;
}

input {
  border: none;
  height: 3rem;
  width: 100%;
  max-width: 325px;
  color: #39445c;
  background-color: #e8efff;
  border-radius: 4rem;
  font-weight: 400;
  font-size: 1rem;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  input {
    height: 4rem;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@font-face {
  font-family: "bergen_textbold";
  src: url("./bergentext-bold-webfont.woff2") format("woff2"), url("./bergentext-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bergen_textregular";
  src: url("./bergentext-regular-webfont.woff2") format("woff2"), url("./bergentext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bergen_textsemi_bold";
  src: url("./bergentext-semibold-webfont.woff2") format("woff2"), url("./bergentext-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.welcome-section img {
  max-width: 450px;
}
.welcome-section img:nth-child(2) {
  max-width: 14rem;
}
.welcome-section h1 {
  font-weight: 400;
  font-size: 1.5rem;
}
.welcome-section .btn {
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 325px;
  color: #cdd7ed;
  margin-top: 2rem;
}
@media screen and (max-width: 325px) {
  form {
    font-size: 0.8rem;
  }
}
form .remember-forgot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  form .remember-forgot {
    font-size: 1rem;
  }
}
@media screen and (max-width: 325px) {
  form .remember-forgot {
    font-size: 0.8rem;
  }
}
form .remember-forgot .remember-me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
form .remember-forgot .remember-me input[type=checkbox] {
  background-color: #fff;
  margin: 0;
  max-width: 3rem;
  width: 1.5rem;
  font: inherit;
  accent-color: #61ff9b;
}
form .create-account {
  color: #a8ffc8;
}
form a {
  color: #cdd7ed;
}

.register-title {
  margin-bottom: 1rem;
}

.btn-circle-form {
  top: 1.6rem;
  position: absolute;
  left: 2rem;
}
@media screen and (max-width: 325px) {
  .btn-circle-form {
    top: 2rem;
    left: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .btn-circle-form {
    left: 6rem;
  }
}

.register-subtitle {
  text-align: center;
}

.view-password {
  width: 100%;
  position: relative;
}
.view-password img {
  position: absolute;
  max-width: 2rem;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .view-password img {
    top: 1rem;
  }
}

.sad-memoji {
  max-width: 175px;
  margin-bottom: 1rem;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bergen text";
}

body {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #0e111b;
  color: #e8efff;
}

main {
  height: 100%;
  width: 100%;
  padding: 0 1.5rem;
  max-width: 120rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

a {
  position: relative;
  text-decoration: none;
  line-height: 100%;
}

img {
  width: 100%;
}

.logo {
  max-width: 225px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 2rem;
}

.form-title {
  text-align: center;
  color: #eff4ff;
}/*# sourceMappingURL=main.css.map */